<!DOCTYPE html>
<html lang="fa">
<head>
    <!-- Basic Page Needs -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="من داریوش ایل بیگی هستم گوینده،طراح سایت،طراح گرافیکی فعالیت گسترده در زمینه گویندگی از جمله گویندگی های تبلیغاتی مانند تیزر ها،پادکست ها و ... است">
    <meta name="keywords" content="داریوش ایل بیگی, داریوش ایلبیگی, صداوا">
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
    <meta property="og:locale" content="fa_IR">
    <meta property="og:type" content="website">
    <meta property="og:title" content=" وب سایت رزومه شخصی داریوش ایل بیگی - داریوش ایل بیگی">
    <meta property="og:description" content="من داریوش ایل بیگی هستم گوینده،طراح سایت،طراح گرافیکی فعالیت گسترده در زمینه گویندگی از جمله گویندگی های تبلیغاتی مانند تیزر ها،پادکست ها و ... است">
    <meta property="og:url" content="https://sedavavoice.ir/">
    <meta property="og:site_name" content="داریوش ایل بیگی">
    <meta property="og:updated_time" content="2022-10-31T23:55:23+03:30">
    <meta property="og:image" content="https://sedavavoice.ir/logo-2.png">
    <meta property="og:image:secure_url" content="./img/Web 1920 – 1.jpg">
    <meta property="og:image:width" content="476">
    <meta property="og:image:height" content="476">
    <meta property="og:image:alt" content="داریوش ایل بیگی">
    <meta property="og:image:type" content="image/jpeg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="-داریوش ایل بیگی">
    <meta name="twitter:description" content="من داریوش ایل بیگی هستم گوینده،طراح سایت،طراح گرافیکی فعالیت گسترده در زمینه گویندگی از جمله گویندگی های تبلیغاتی مانند تیزر ها،پادکست ها و ... است">
    <meta name="twitter:image" content="https://sedavavoice.ir/logo-2.png">
    <meta name="twitter:label1" content="آرین داستانی">
    <meta name="twitter:data1" content="مدیر سایت">
    <meta name="twitter:label2" content="زمان خواندن">
    <meta name="twitter:data2" content="کمتر از یک دقیقه">
    <link rel="icon" href="~/favicon.ico" sizes="32x32">
    <link rel="apple-touch-icon" href="~/favicon.ico">
    <meta name="msapplication-TileImage" content="~/logo-2.png">
    <meta name='msapplication-square310x310logo' content='~/logo-2.png'>
    <title>@ViewData["Title"] داریوش ایل بیگی</title>

    <!-- Favicons -->
    <link href="~/favicon.ico" rel="icon">
    <link rel="icon" href="~/logo-2.png" sizes="192x192">

    <!--  -->
    <link rel="stylesheet" href="~/fonts/fonts.css" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/stylesheets/bootstrap.min.css" />

    <!-- Mobile Specific Metas -->
    @* <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> *@

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="~/stylesheets/shortcodes.css" />
    <link rel="stylesheet" type="text/css" href="~/stylesheets/style.css" />

    <!-- Favicon and Touch Icons  -->

    <!-- Animation Text -->
    <link rel="stylesheet" type="text/css" href="~/stylesheets/splt.css" />

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="~/stylesheets/responsive.css" />

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="~/stylesheets/colors/color1.css">

    <!-- ios support -->
    <link href="~/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <meta name="apple-mobile-web-app-status-bar" content="#F09A03">
    <meta name="theme-color" content="#F09A03">
</head>
<body class="tf-fullscreen is-dark">
    <!-- preloaded -->
    <div id="preloader">
        <div class="preload-container"></div>
    </div>
    <!-- /preload -->
    <!-- Header -->
    <header id="header" class="header header-fixed">
        <div class="tf-container">
            <div class="row is-relative">
                <div class="col-4">
                    <a asp-controller="home" asp-action="Index" class="logo">
                        <img id="logo_header" src="~/images/logo-2.png" alt="داریوش ایل بیگی">
                        <img style="height: 87.5px; width: 87.5px;" id="logo_header-2" src="~/images/logo-2.png" alt="داریوش ایل بیگی">
                    </a>
                </div>
                <div class="col-8">
                    <div class="inner-header">
                        <div class="inner-header-left">
                            <h3><a asp-controller="home" asp-action="Index">خانه</a></h3>
                            <h3><a href="#contact" class="type-2 wedo-link-item">خانه من</a> <span class="flicker">!</span></h3>
                        </div>
                        <div class="inner-header-right">
                            <div class="choose-themes day">
                                <div class="sun moon">
                                </div>
                            </div>
                            <div class="wd-icon-box">
                                <a href="tel:012345678" class="icon-phone"></a>
                            </div>
                            <div id="nav-filter" class="wd-icon-box active">
                                <div class="nav-menu">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- popup -->
                <div class="menu-popup">
                    <div class="modal-menu__backdrop"></div>
                    <div class="widget-filter">

                        <div class="menu-left">
                            <a asp-controller="Home" asp-action="index"></a>
                            <div class="contact">
                                <div class="contact-phone">
                                    <p>شماره تماس</p>
                                    <h4>09227092389</h4>
                                </div>
                               
                            </div>

                        </div>
                        <div class="main-menu">
                            <p><a class="active trick" asp-controller="Home" asp-action="Index">خانه</a></p>
                            <ul class="menu-content filter-menu">
                                <li><a asp-controller="Home" asp-action="Index">درباره من</a></li>
                                <li><a asp-controller="ThingIdo" asp-action="index">سرویس</a></li>
                                <li><a asp-controller="Pricing" asp-action="Index">تعرفه</a></li>
                                <li><a asp-controller="Portfolio" asp-action="Index">نمونه کارها</a></li>
                        
                                <li><a asp-controller="Contact" asp-action="Index">ارتباط با من</a></li>
                            </ul>
                        </div>


                        <div class="menu-right">
                            <div class="icon-close">
                                <span>بستن</span>
                                <a class="title-button-group"></a>
                            </div>
                            <div class="contact">
                               
                            </div>
                            <ul class="wd-social-icon">
                                <li><a href="#"><i class="icon-facebook1"></i></a></li>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-instagram"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </header>
    <!-- End header -->
    <!-- home -->

    <section>
        <div class="tf-container">
            <div class="wrapper wrap-home" data-enter="fadeInUp" data-exit="" style="height:max-content;">
                <div class="group-4-8">




                    @*                 <div class="cl4">
                    <div class="sticky-sidebar">
                    <div class="avatar">
                    <img src="~/images/avatar/avt-1.png" alt="image">
                    </div>
                    <div class="profile">
                    <div class="top">
                    <h3><a href="#">سلام! من داریوش هستم</a></h3>
                    <div class="wrap-text">
                    <span class="auto-type">طراح UX/UI</span>
                    </div>
                    </div>
                    <div class="content">
                    <p>موبایل: 09198842083</p>
                    <p>کانال تلگرام: Sedava@@</p>

                    <center>
                    <ul class="wd-social-icon m-top">
                    <li><a href="#"><i class="icon-phone"></i></a></li>
                    <li><a href="#"><i class="fa-instagram"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>
                    <li><a href="#"><i class="icon-linkedin"></i></a></li>
                    <li><a href="#"><i class="icon-linkedin"></i></a></li>

                    </ul>
                    </center>
                    </div>
                    <div class="bottom">
                    <a class="btn-profile active wedo-link-item" href="#contact">
                    تماس با من ! <span class="icon-arrow"></span>
                    </a>
                    <a class="btn-profile wedo-link-item" href="#contact">
                    دانلود رزومه <span class="icon-arrow"></span>
                    </a>
                    </div>
                    </div>
                    </div>
                    </div> *@




                    @* @await Component.InvokeAsync("SideBarViewComponent"); *@

                    @await Component.InvokeAsync("Search")










                    <!-- home -->
                    @RenderBody()

                </div>

            </div>

        </div>

    </section>
    <!-- end -->
    <!-- Footer -->
    <footer>
        <div class="footer">
            <a href="#"></a>
            <p style="text-align:center;padding:4px 4px 4px 4px;">© 1402 تمامی حقوق مادی و معنوی این سایت متعلق به داریوش ایل بیگی می‌باشد. </p>
            <p style="text-align:center;padding:4px 4px 4px 4px; font-size: 8px; "> طراحی و پیاده سازی توسط آرین داستانی</p>

            <img class="logo-footer" src="~/images/logo-2.png" alt="داریوش ایل بیگی">
            <img class="logo-footer-dark" src="~/images/logo-2.png" alt="داریوش ایل بیگی">
        </div>
    </footer>
    <!-- End footer -->
    <div class="tf-mouse tf-mouse-outer"></div>
    <div class="tf-mouse tf-mouse-inner"></div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/javascript/bootstrap.min.js"></script>
    <script src="~/javascript/typed.umd.js"></script>
    <script src="~/javascript/countto.js"></script>
    <script src="~/javascript/jquery.cookie.js"></script>
    <script src="~/javascript/appear.js"></script>
    <script src="~/javascript/splt.min.js"></script>
    <script src="~/javascript/switcher.js"></script>
    <script src="~/javascript/main.js"></script>
    <script src="~/sweetalert2/sweetalert2.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
