@using Application.Services.Information;
@model GetInfoDto;

<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h3>افزودن پست</h3>
                </div>
                <div class="col-12 col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg></a></li>
                        <li class="breadcrumb-item">اخبار</li>
                        <li class="breadcrumb-item active">افزودن پست</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <h5>افزودن پست</h5>
                    </div>
                    <div class="card-body add-post">
                        @* <form class="row needs-validation" enctype="multipart/form-data" method="post" asp-area="admin" asp-controller="Portfolio" asp-action="SubmitPortfolioFromModal"
                        data-ajax="true" data-ajax-begin="StartLoading()" data-ajax-success="PortfolioFormSubmited" class="needs-validation was-validated"> *@
                        <form method="post" enctype="multipart/form-data" asp-area="admin" asp-controller="Informations" asp-action="Edit">
                            <input asp-for="Id" class="form-control" type="hidden">

                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="col-form-label" for="recipient-name">نام:</label>
                                            <input asp-for="FirstName" class="form-control" type="text" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="col-form-label" for="recipient-name">نام خانوادگی:</label>
                                            <input asp-for="LastName" class="form-control" type="text" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="col-form-label" for="recipient-name">شماره همراه:</label>
                                            <input asp-for="PhoneNumber" class="form-control" type="text" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="col-form-label" for="recipient-name">تعداد سال تجربه:</label>
                                            <input asp-for="Experience" class="form-control" type="text" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="col-form-label" for="recipient-name"> کانال تلگرام:</label>
                                            <input asp-for="TelegramChannel" class="form-control" type="text" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="col-form-label" for="recipient-name">پیج اینستاگرام:</label>
                                            <input asp-for="Instagram" class="form-control" type="text" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label">متن درباره من:</label>
                                            <textarea class="form-control" asp-for="AboutMe" required rows="3"></textarea>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label">آدرس:</label>
                                            <textarea class="form-control" asp-for="Address" required rows="3"></textarea>
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="col-form-label" for="message-text">تصویر پروفایل  : </label>
                                            <input name="Image" class="form-control" type="file">
                                        </div>
                                    </div>

                                </div>


                            </div>
                            <div class="btn-showcase text-end">
                                <button class="btn btn-primary" type="submit">پست کردن</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <link href="~/lib/wait-me/waitme.min.css" rel="stylesheet" />

    <!-- Container-fluid Ends-->
</div>

@section Scripts{
    <script src="~/lib/wait-me/waitme.min.js"></script>



}
