
@font-face {
    font-family: 'iransansweb_light';
    src: url('../../fonts/iransansweb_light.woff') format('woff');
}
@font-face {
    font-family: 'fontawesome-webfont1';
    src: url('../../fonts/fontawesome-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'fontawesome-webfont';
    src: url('../../fonts/fontawesome-webfont.woff') format('woff');
}
body {
    font-family:iransansweb_light,fontawesome-webfont,fontawesome-webfont1;
}


